{% extends 'layout.html' %}

{% block title %}
    Team-Reg
{% endblock %}

{% block body %}
<div class="search">
    <h1>Team Registration</h1>
    <p>Your squad member must register first to enter in Team registration.</p>
    <p> Note: Share him link so he can Register ASAP </p>

    <form action="{{ url_for('search') }}" method="POST">
        <div class="form-group">
            <input type="text" class="form-control form-control-lg" name="keyword">
        </div>
        <button class="btn btn-primary btn-lg">Submit</button>
    </form>
</div>

{% endblock %}
