{% extends 'layout.html' %}

{% block title %}
    Records
{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Records</h1>
    <hr>
    <table class="table table-sm table-striped table-dark" style="margin-left: auto; 
    margin-right: auto;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Photo</th>
          <th scope="col">Phone</th>
          <th scope="col">Time</th>
          <th scope="col">Date</th>
          <th scope="col">PersonToMeet</th>
          <th scope="col">Hand Sanitized</th>
          <th scope="col">UV Sanitized</th>
          <th scope="col">Fogging</th>
          <th scope="col">FaceMask</th>
          <th scope="col">Body Temp</th>
          <th scope="col">Cold</th>
          <th scope="col">Fever</th>
          <th scope="col">Cough</th>
        </tr>
      </thead>
      <tbody>
        {% for sublist in records %}
              <tr>
                <th scope="row">{{ sublist[0] }}</th>
                <td > {{ sublist[9] }}</td>
                <td ><img src={{ sublist[1] }} alt="image not found" style="height:100px; width:100px;"></td>
                <td >{{ sublist[10] }} </td>
                <td >{{ sublist[3] }}</td>
                <th >{{ sublist[2] }}</td>
                <td>{{ sublist[11] }}</td>
                <td >{{ sublist[4] }}</td>
                <td >{{ sublist[6] }}</td>
                <td >{{ sublist[7] }}</td>
                <td >{{ sublist[4] }}</td>
                <td>{{ sublist[8] }}</td>
                <td>{{ sublist[12] }}</td>
                <td >{{ sublist[13] }}</td>
                <td >{{ sublist[14] }}</td>
              </tr>
              {% endfor %}
      </tbody>
    </table>              
{% endblock %}
