{% extends "layout.html" %}

{% block title %}
    Form
{% endblock %}

{% block body %}
    <div style="text-align: center;"><img src="static/img/sas.jpeg" width="200" height="150" alt="logo-sas"></div>
    <div style="text-align: center;"><a href="http://www.sastech.co.in/"><p><strong>SAS Automation Pvt. Ltd.</strong></p></a> </div>
    <div class="box m-top">
        <h2>Meditech Visitor App</h2>
        <p>All fields are required.</p>
        
        <form id="userform" action="{{ url_for('index') }}" method="POST">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Visitor's Name" name="vname" autofocus autocomplete="off" required>
          </div><br/>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Whom to meet" name="person" autocomplete="off" required>
              <!--<h4 id='loading' style="display:none;"><img src="{{ url_for('static', filename='img/loader.gif') }}"/> Loading..</h4>-->
          </div><br/>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Visitors's Company Name" name="cname" autocomplete="off" required>
          </div><br/>
          <!--
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Player3:Username" name="player3" required>
          </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Player4:Username" name="player4" required>
            </div>
             <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="re-password" required>
            </div> -->
            <button class="btn btn-primary">Submit</button><br/>
            <p>(Note:After submit QR Code will be generate.)</p>
        </form>
    </div>
    <!--
    <div class="box">
        Have an account? <a href="{{ url_for('index') }}">Log in</a>
    </div> -->

{% endblock %}
